<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "myDao" class="ru.mai.learning.spring.service.UserDao"></bean>

    <bean id = "myService" class = "ru.mai.learning.spring.service.UserService" scope="singleton">
        <!--<constructor-arg value="Hello!"/>-->
        <constructor-arg ref="myDao"/>
    </bean>


</beans>